.App{
  padding: 50px;
  flex-wrap: wrap;
}.container{
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}.demo{
  padding-top: 10px;
}.rotated{
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}.rotate{
  transition: 0.3s ease-in-out;
}.text1{
  padding: 20px;
  color: grey;
  border-top: 1px solid lightgray;
}.test{
  display: flex;
  justify-content: space-between;
}.text{
  font-weight: bold;
}